@import "variables/global.css";
@import "reset.css";

.app {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    font: var(--font-m);
    display: flex;
    flex-direction: column;
}

.content_page{
    display: flex;
    width: 100%;
}

.content_container {
    padding: 0.5em 1em 2em;
    max-width: 100%;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

.error {
    font-size: 0.8em;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 0.5em;
}

@media screen and (width > 1920px) {
    .app {
        font: var(--font-xl);
    }
}
@media screen and (width < 1920px) {
    .app {
        font: var(--font-l);
    }
}

@media screen and (width < 1601px) {
    .app {
        font: var(--font-m);
    }
}

@media screen and (width < 360px) {
    .app {
        font: var(--font-s);
    }
}

