.Wrapper {
    display: flex;
    align-items: center;
    width: auto;
    gap: 0.5em;
}

.label {
    color: var(--secondary-color);
    font-weight: inherit;
    white-space: nowrap;
    user-select: none;
    font-size: 0.8em;
}

.select {
    background: var(--inverted-primary-bg-color);
    outline: none;
    color: var(--primary-color);
    padding: 0.5em;
    font: inherit;
    text-overflow: ellipsis;
    box-shadow: none;
    border: 1px solid black;


    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.option {
    color: var(--secondary-color);
    font-weight: inherit;
    background: var(--inverted-primary-bg-color);
    display: inline-block;
}
