.FetchDataForm {
    max-width: 100vw;
    min-width: 320px;
    background-color: var(--inverted-primary-bg-color);

    .formTitle {
        user-select: none;
        white-space: nowrap;
        text-align: center;
    }
}

.select {
    height: 100%;
    font-weight: normal;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    gap: 1em;
    flex-wrap: nowrap;
    width: 100%;
}


.requestButton {
    height: 2.5em;
    width: 100%;
    user-select: none;
}

.dateInterval {
    width: 100%;
}

.loaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0;
    z-index: var(--modal-z-index);
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}
.label {
    color: white;
    font-size: 1.2em;
    border-radius: 0;
}
.cancelButton {
    min-width: 120px;
}
