.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    position: relative;
}

.input {
    min-height: 35px;
    font: inherit;
    padding: 0.5em;
    width: 100%;
    border: 1px solid black;


    &:focus {
        outline: none;
    }
    &:read-only{
        opacity: 0.8;
        background: rgba(255, 255, 255, 0.39);
        border: 1px solid rgba(0, 0, 0, 0.27);
    }
}

.required {
    color: red;
}

.inputLabel {
    font-size: 0.8em;
    color: var(--secondary-color);
    user-select: none;
}

.input[type='date'] {
    &:hover {
        cursor: pointer;
    }

    &::-webkit-datetime-edit-fields-wrapper {
    }

    &::-webkit-datetime-edit-text {
        padding: 0;
        margin: 0;
    }

    &::-webkit-datetime-edit-month-field {

    }

    &::-webkit-datetime-edit-day-field {
    }

    &::-webkit-datetime-edit-year-field {
    }

    &::-webkit-inner-spin-button {

    }

    &::-webkit-calendar-picker-indicator {
        width: 1em;
        font-size: inherit;
        height: 1em;
        cursor: pointer;
    }
}

.cover {
    display: none;
}

.fileInput {
    display: none;
}

.withIcon {
    padding-right: 2em;
}

.icon {
    height: 1em;
    width: 1em;
}

.iconButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: var(--refresh-icon-z-index);
    cursor: pointer;
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.inputWrapper{
    position: relative;
}

.readOnly * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.inputFile {
    padding: 0.5em;
    font: inherit;
    background: transparent;
    border: 1px solid black;
    color: var(--primary-color);
}
