.DateInterval {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transition: margin-bottom 0.2s ease-in;

    .dateIntervalLabel {
        color: var(--secondary-color);
        user-select: none;
        font-size: 0.9em;
    }

    .dateInterval {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4em;


        .dash {
            font-size: 1.5em;
            line-height: 1.5;
        }
    }
}

.wrapper {
    position: relative;
}

.withError {
    margin-bottom: 1.5em;
}

.errorMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    position: absolute;
    bottom: -2.5em;
    left: 0;
}
