.AppLink {
    &:hover, &:focus {
        opacity: 0.8;
        outline: none;
        text-decoration: underline;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.red {
    color: red;
}
